<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# article">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
	
	<link rel="author" href="https://plus.google.com/WeiLeenNg" />
  <meta name="author" content="{{ site.author.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ site.twitter.title }}">
  <meta name="twitter:site" content="@{{ site.twitter.site}} ">
  <meta name="twitter:creator" content="@{{ site.twitter.creator }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:url" content="{{ site.production_url }}">
  <meta name="twitter:image" content="http://weileen.me/images/home.jpg">

  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ site.og.title }}">
  <meta property="og:site_name" content="{{ site.og.site_name }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:url" content="{{ site.production_url }}">
  <meta property="og:image" content="http://weileen.me/images/home.jpg">
  <meta property="fb:admins" content="{{ site.facebook }}" />
  
  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="/css/up.css" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57x57-precomposed.png">
  <link rel="shortcut icon" href="/favicon.ico">

</head>

<body>
  <div class="cover img-responsive" style="background-image: url(/images/home.jpg)"></div>
  
  {% include navbar.html %}

  <div class="container">
    {{ content }}
  </div>

  {% include footer.html %}
  {% include analytics.html %}
</body>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="/js/up.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300'
  rel='stylesheet' type='text/css'>
</html>
